body{
    background-color: #7395ae;
    margin: 0;
    font-family: 'Thoma', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
}

.nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #5d5c61;
    color: #F6F7EB;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
   
  a{
    color:#F6F7EB;
  }
  
  a:visited{
    color: #F6F7EB;
  }
  
  
  .nav-list{
    display: flex;
    margin: 0 2rem 0 0;
    list-style: none;
  }

  .nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    background: #34343f;
  }
  


#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #557a95;
    color: #F6F7EB;
    height: 100vh;
    width: 100%;
}



#welcome h1{
    margin-top: 0;
}

#welcome h3 {
    margin-bottom:0;
}

.standard p{
  
    background-color: #7395ae;
    color: #34343f;
    margin: 0px;
    padding-top: 1em;
    padding-left: 8em;
    padding-right: 8em;
    padding-bottom: 1em;
    text-align: left;
}
.standard h2{
    text-align: left;
    background-color: #7395ae;
    color: #34343f;
    padding-top: 3em;
    padding-left: 6em;
    
    padding-right: 5em;
    margin:0;
}

#review{
    background-color: #7395ae;
    color: #34343f;
    margin: 0px;
    padding-left: 8em;
    padding-right: 7em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    text-align: left;
}
#review ol{
    background: #557a95;
    padding: 20px;
}
#review ol li{
    background: #8cc8f3;
    padding: 5px;
    margin-left: 35px;
}

#review li{
    border-left: 1.5px solid #557a95;
    border-right: 1.5px solid #557a95;
    border-top: 1px solid #557a95;
    border-bottom: 1px solid #557a95;
    padding-left: .5em;
}

#paragraph1 {
  padding-top:0;
}
#paragraph2 {
  padding-top:0;
}

#reflection {
    padding-bottom: 3em;
}

.wireContainer{
    display: flex;
    flex-direction: row;
}
.wireframe{
    max-width:500px;
    margin-left: 15%;
    border: 10px solid #557a95;
}
.prototype{
    max-width: 80%;
    display:flex;
    justify-content: center;
    margin-left: 10%;
    border: 10px solid #557a95;
}
.test{
    max-width:650px;
    margin-left:10%;
    border: 10px solid #557a95;
}

 
.contact-section {
    background-color: #557a95;
    color: #F6F7EB;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .contact-section p {
    font-size: 1.1rem;
  }

  footer {
    border-top: 5px solid #7395ae;
    background-color: #557a95;
    color: #efe6e8;
    display: flex;
    justify-content: center;
  }
  
  footer p {
    font-size: 1rem;
  }
